.negative-top{
    margin-top: -5px;
}

.main-margin{
    margin-left: 17rem;
    margin-right: 6rem;
    margin-bottom: 7rem;
    /* border: 2px solid black; */
}

.course-btn-custom, .course-btn-custom:disabled{
    background-color: #fff8d3;
    color: #0d6343;
}

.course-btn-custom:hover{
    background-color: #fff4c0;
    color: #0d6343;
}

.course-btn-custom:focus{
    background-color: #0d6343;
    color: white;
}

.custom-font{
    font-family: 'Inter';
    font-weight: 500;
}

.btn-padding{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.muted-green{
    color: #147a55a2;
}

#list-example {
    position: sticky;
    top: 120px;
    bottom: 100px;
}

.list-item{
    min-height: 500px;
}

.list-group{
    border-radius: 0;

    
}

.list-group-item{
    border: none;
    border-left: 3px solid lightgray;
}

.list-group-item.active{
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
    font-weight: bold;
    border-left: 3px solid var(--primary-color-dark);
}
