@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

:root{
    --primary-color:#147a55;
    --secondary-color:#fffbe6;
    --primary-color-dark:#20694d;
    --secondary-color-dark:#fff8d3;
}


::selection{
    background-color: #147a55;
    color: white;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.logo-text{
    font-size: 30px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    color: black;
}

.logo-inner-text{
    color: #147a55;
}

.btn-custom, .btn-custom:disabled{
    background-color: #147a55;
    color: white;
}

.btn-custom:hover{
    background-color: #0d6343;
    color: white;
}

.btn-custom.active{
    background-color: #014d31;
    color: white;
}

.btn-custom:focus{
    background-color: #0d6343;
    color: white;
}

.btn-outline-custom, .btn-outline-custom:disabled{
    color: #147a55;
    background-color: white;
    border: 1px solid #147a55;
}

.btn-outline-custom:hover{
    background-color: #0d6343;
    color: white;
}

.btn-outline-custom.active{
    color: #014d31;
    background-color: white;
}

.btn-outline-custom:focus{
    color: #0d6343;
    background-color: white;
}

.small-txt{
    font-size: 13px;
}

.green-txt{
    color: #0d6343;
}

.green-bg{
    background-color: #147a5580;
}

.green-bg-dark{
    background-color: #147a55;
}

.bg-color-home{
    background-color: #FFFBE8;
}

.txt-color-home{
    color: #FFFBE8;
}


