.welcome{
    padding-inline: 6rem;
}

.custom-profile {
    /* height:47.1%; */
    width:2em;
    aspect-ratio: 1/1;
    font-size: 30px;
    color:white;
    background-color: #2a8864;
}

.my-bg{
    background-color: #F8F9FA;
}

.nav-link.active,.nav-link.active:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.nav-link, .nav-link:hover{
    color: var(--primary-color);
}

@media (max-width: 550px) {
    .welcome{
        padding-inline: 3rem;
    }
}