<div class="d-flex flex-lg-row flex-column-reverse p-3 p-lg-5 align-items-center bg-color-home">

    <div class="col-10 col-lg-6 mt-5 mt-lg-0 bg-color-home" style="border: none;">
        <div class="card-body">
            <p class="fs-4 green-txt fw-medium">Explore Our Courses</p>
            <h1 class="display-5 fw-bold card-title mb-4">Get Instant Access to Expert Solutions</h1>
            <p class="card-text fw-medium">Discover our extensive range of courses, expertly designed to enhance skills and knowledge. From foundational basics to advanced specializations, our programs cater to diverse interests and career goals. With flexible online learning options and expert instruction, students can achieve professional growth and personal enrichment. Explore our curated selection of courses, spanning business, technology, arts, and more. Unlock new opportunities and ignite your potential with our dynamic learning community.</p>
            <a href="#" routerLink="courses" class="btn btn-lg btn-custom mt-3">Explore Courses</a>
        </div>
    </div>



    <div class="col-10 col-lg-6 ms-lg-2 ms-5 mt-3 d-flex flex-wrap ">
        <div class="col-6  d-block text-center">
            <img class="rounded-2" src="images/working.jpg" style="width: 75%;" alt="...">
        </div>

        <div class="col-6 ps-3 align-self-center">
            <img class="rounded-4" src="images/working4.png" style="width: 55%;" alt="...">
        </div>

        <div class="col-6 text-center align-self-center">
            <img class="rounded-4" src="images/working2.jpg" style="width: 55%;" alt="...">
        </div>

        <div class="col-6 ">
            <img class="rounded-2" src="images/working3.jpg" style="width: 75%;" alt="...">
        </div>
    </div>
</div>