<div class="card p-0 m-0 d-flex border border-opacity-25 border-black flex-column z-1 overflow-hidden"
    style="height: 100%;">
    <div class="position-relative align-self-center">
        <div class="img-wrapper img-border z-2"><img [src]="'data:image/*;base64,' + course().coverImage"
                class="img-fluid pb-1 p-0 m-0 z-3" alt="..."> </div>
    </div>
    <div class="card-body px-4 pt-1 d-flex flex-column justify-content-between">
        <div>
            <a [routerLink]="['/course', course().courseId]"
                class="card-title fs-6 green-txt  fw-bold">{{course().courseName}}</a>
            @if(!enrolled()){<p class="card-text negative-mt truncate">{{description}}</p>}
        </div>
        <div>
            <p class="fw-bold mb-0 ">{{instructor[0]}}</p>
            <span class="mb-0  ">
                {{avgRating}}
            </span>
            <div class="text-warning d-inline px-1">
                @for(rate of starRating;track $index){
                    @if(rate<=avgRating){ 
                        <i class="bi bi-star-fill"></i>
                    }@else if(isHalf(rate)) {
                        <i class="bi bi-star-half"></i>
                    }@else {
                        <i class="bi bi-star"></i>
                    }
                }
            </div>
            <span class="text-secondary">({{course().reviews !=undefined?course().reviews.length:0}})</span>

            <p class="mb-0  fw-medium text-secondary">{{course().hours}} total hours&nbsp; &nbsp;{{course().sections}}
                Sections</p>
            @if(!enrolled())
            {<div class="d-flex justify-content-between align-items-center mt-3">
                <a class="btn btn-custom rounded-1" [routerLink]="['/course', course().courseId]">Enroll
                    Now</a>
                <p class=" mb-0 text-secondary">${{course().price}}</p>
            </div>}
            @else if(profileService.profile()?.role == "ROLE_USER"){
                
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <a class="btn btn-custom rounded-1" [routerLink]="['/course','section']" [queryParams]="{courseName: course().courseName}">Continue Learning</a>
                </div>
            }
            @else {
                <div class="d-flex justify-content-end gap-3 mt-2">
                    <a class="btn btn-custom rounded-0" [routerLink]="['/course','section']" [queryParams]="{courseName: course().courseName}">Simulate</a>
                    <ng-content />
                </div>
            }
        </div>
    </div>
</div>