.dropdown-filters{
    background-color: transparent;
    border: 0;
}

.dropdown:has(+ .show){
    border-bottom: 1px solid transparent;;
}

.dropdown:has(+ .show) .down{
   display: none !important;
}

:not(.dropdown:has(+ .show)) .up{
    display: none;
}

/* :not(.dropdown:has(+ .show)) .down{
    display: flex;
} */

.dropdown:has(+ .show) .up{
    display: flex;
}

.dropdown{
    border-bottom: 1px solid #BFBCAE;
}

.course-card{
    width: 30%;
    font-size: 13px;
}

@media (max-width: 1050px){
    .course-card{
        width: 40%;
    }
}

@media (max-width: 700px){
    .course-card{
        width: 80%;
    }
}
