<!-- <div class="achieve">
    <p class="display-5 fw-bolder text-center mb-0 pt-2 pb-3 text-white"> Our Achievements</p>
    <p class="col-8 col-lg-6 fw-bold text-white d-block mx-auto text-center">optio ea facilis, cumque ut ipsum temporibus ipsa, quos placeat eveniet
        reprehenderit at qui ducimus nesciunt id iure tenetur unde suscipit!</p>


    <div class="row ">

        
            <div class="card m-4 m-lg-3 m-xl-5 col-5 col-md-2 glowy-border" >
                <div class="card-body">
                    <h5 class="card-title fs-1 text-center align-middle m-1">50K+</h5>
                    <p class="fs-3 text-center align-middle green-txt">Students</p>
                </div>
            </div>
            <div class="card m-4 m-lg-3 m-xl-5 col-5 col-md-2 glowy-border" >
                <div class="card-body">
                    <h5 class="card-title fs-1 text-center align-middle m-1">50</h5>
                    <p class="fs-3 text-center align-middle green-txt">Courses</p>
                </div>
            </div>

        
            <div class="card m-4 m-lg-3 m-xl-5 col-5 col-md-2 glowy-border">
                <div class="card-body">
                    <h5 class="card-title fs-1 text-center align-middle m-1">4K+</h5>
                    <p class="fs-3 text-center align-middle green-txt">Classes</p>
                </div>
            </div>
            <div class="card m-4 m-lg-3 m-xl-5 col-5 col-md-2 glowy-border">
                <div class="card-body">
                    <h5 class="card-title fs-1 text-center align-middle m-1">4.8⭐</h5>
                    <p class="fs-3 text-center align-middle green-txt">Rating</p>
                </div>
            </div>

    </div>
</div> -->

<div class="achievement-container p-5">
    

    <div class="col-10 col-lg-6 m-auto">
        <h1 class="fw-bolder text-white text-center">Our Achievements</h1>
        <p class="text-center text-white fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolor asperiores quisquam, quidem eligendi, necessitatibus fuga reiciendis odio eum ipsa harum sed aliquam ea! Ex adipisci omnis dolore eius dolorum.</p>
    </div>

    <div class="row gap-5 m-5 justify-content-around">
        <div class="card text-center py-3 col-xl-2 col-md-5 col-sm-10 ">
            <p class="number">50K+</p>
            <p>Students</p>
        </div>
        
        <div class="card text-center py-3 col-xl-2 col-md-5 col-sm-10">
            <p class="number">50+</p>
            <p>Courses</p>
        </div>
        
        <div class="card text-center py-3 col-xl-2 col-md-5 col-sm-10 ">
            <p class="number">4K+</p>
            <p>Classes</p>
        </div>
        
        <div class="card text-center py-3 col-xl-2 col-md-5 col-sm-10 ">
            <p class="number">4.7⭐</p>
            <p>Rating</p>
        </div>
    </div>
    

</div>
