<app-jumbotron title="Explore Our Diverse Range of Courses" description="Unlock new skills and grow your knowledge with our comprehensive collection of courses. Whether you're looking to advance your career or learn something new, we've got you covered!" >

    <div class="col-5">
        <img src="images/Design.png" alt="" class="jumbo-image d-none d-lg-block">
    </div>
    </app-jumbotron>
<div>
    <div class="green-bg-dark">
        <p class="display-5 text-white fw-bold text-center p-5 mb-0">
            Courses to get you started
        </p>
    </div>
    <div class="d-flex flex-column flex-md-row">
        <div class="col-md-3 bg-color-home py-2 ps-5 ps-md-3 pe-5 pe-md-3 px-lg-4 px-xl-5">
            <div>
                <div class="d-flex align-items-end justify-content-between border-bottom border-black border-opacity-25">
                    <p class="fs-5 mb-2 mt-lg-5  fw-bold">
                        Filter By
                    </p>
                    <button class="btn fw-bold green-txt" (click)="clearFilter()">CLEAR</button>
                </div>
                <div class="mb-3">
                    <a class="nav-link d-flex justify-content-between dropdown" href="#" data-bs-toggle="collapse"
                        data-bs-target="#submenu" aria-expanded="false" aria-controls="submenu">
                        <span class="description fs-5 d-block ms-2">All Courses</span>
                        <div class="down d-flex align-items-center">
                            <i class="bi bi-chevron-down"></i>
                        </div>
                        <div class="up">
                            <i class="bi bi-chevron-up d-flex align-items-center"></i>
                        </div>
                    </a>
                    <div class="collapse show ms-1" id="submenu">
                        <ul class="list-group list-group-flush">
                            @for (cat of category(); track $index) {
                                <li class="list-group-item dropdown-filters">
                                    <input class="form-check-input me-1" type="checkbox" [value]="cat" (change)="addCategory($event)" [id]="cat" />
                                    <label class="form-check-label" [for]="cat">{{cat}}</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="mb-3">
                    <a class="nav-link d-flex justify-content-between dropdown" href="#" data-bs-toggle="collapse"
                        data-bs-target="#subradio" aria-expanded="false" aria-controls="submenu">
                        <span class="description fs-5 d-block ms-2">Difficulty</span>
                        <div class="down d-flex align-items-center">
                            <i class="bi bi-chevron-down"></i>
                        </div>
                        <div class="up">
                            <i class="bi bi-chevron-up d-flex align-items-center"></i>
                        </div>
                    </a>
                    <div class="collapse ms-1" id="subradio">
                        <ul class="list-group">
                            <li class="list-group-item dropdown-filters">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="Beginner"
                                    id="Beginner" (click)="addLevel($event)"/>
                                <label class="form-check-label" for="Beginner">Beginner</label>
                            </li>
                            <li class="list-group-item dropdown-filters">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="Intermediate"
                                    id="Intermediate" (click)="addLevel($event)"/>
                                <label class="form-check-label" for="Intermediate">Intermediate</label>
                            </li>
                            <li class="list-group-item dropdown-filters">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="Advanced"
                                    id="Advanced" (click)="addLevel($event)"/>
                                <label class="form-check-label" for="Advanced">Advanced</label>
                            </li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="col-md-9 px-5 py-5 d-flex flex-column justify-content-between" style="min-height: 150vh;" id="cards">
            <!-- <app-testomonials/> -->

            @if(courses()) {
                <div class="d-flex flex-wrap gap-5 py-4" id="cards-inner">
                    @for (courseItem of courses(); track courseItem.courseId) {
                        <app-course-card [role]="profileService.profile()?.role" [course]="courseItem" class="course-card rounded-2 overflow-hidden"/>
                    } @empty {
                        <li>There are no Courses Available.</li>
                    }
                </div>
            } @else{
                <div class="loading d-flex justify-content-center align-items-center vh-100">
                    <img src="images/loading/loading-elephant.gif" height="50%" alt="loader" />
                </div>
            }
            
            <div class="m-5 pt-5" id="page-nav">
                <app-page-nav (currentPageEvent)="callFilterCourses($event)"  />
            </div>
        </div>
    </div>
</div>

<!-- <div class="sidebar">
    <nav class="nav flex-column">
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-grid"></i>
            </span>
            <span class="description">Dashboard</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-clipboard-check"></i>
            </span>
            <span class="description">Posts</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-bell"></i>
            </span>
            <span class="description">Notifications</span>
        </a>

        Dropdown

        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false"
            aria-controls="submenu">

            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">Projects <i class="bi bi-caret-down-fill"></i></span>
        </a>
        submenu for projects
        <div class="sub-menu collapse" id="submenu">
            <a class="nav-link" href="#">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description">Project 1</span>
            </a>
        </div>
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-bell"></i>
            </span>
            <span class="description">Notifications</span>
        </a>
    </nav>
</div> -->