<section class="d-flex justify-content-center align-items-top position-relative min-vh-100 green-bg my-class">
    <div class="container mx-5 my-5">
      <div class="row d-flex justify-content-center align-items-center">  
        <div class="col-lg-9">
          <div class="card text-black overflow-hidden" style="border-radius: 25px;">
            <div class="card-body p-0">
              <div class="d-flex flex justify-content-center">
                <div class="col-md-7 col-lg-6 px-5">
  
                  <p class="text-center green-txt h2 fw-bolder mb-3 mb-lg-3 mx-1 mt-4 mt-lg-4">{{role() | titlecase}} Sign Up</p>
  
                  <form (ngSubmit)="addUser()" #form="ngForm" class="mx-1">
  
                    <div class="d-flex flex-row align-items-center mb-2 position-relative">
                      <i class="bi icon-custom me-3 bi-person-fill"></i>
                      <div class="form-floating mt-3 flex-fill mb-3">
                        <input type="text" [class.is-invalid]="checkInputStatus(nameInput)"
                          [class.border-black]="!checkInputStatus(nameInput)" [class.border-opacity-25]="!checkInputStatus(nameInput)" class="form-control rounded-1 shadow-none" id="fullname"
                          [(ngModel)]="fullName" name="fullname" placeholder="name" #nameInput="ngModel" required>
                        <label class="text-secondary placeholder-font" for="floatingInput">Full Name</label>
                      </div>
                      @if (checkInputStatus(nameInput)) {
                      <div class="position-absolute ms-5 small text-danger" style="bottom: -10px;">Name is required</div>
                      }
                    
                    </div>
                    
  
                    <div class="d-flex flex-row align-items-center mb-2 position-relative">
                      <i class="bi icon-custom me-3 bi-envelope-fill"></i>
                      <div class="form-floating mt-3 flex-fill mb-3">
                        <input type="email" [class.is-invalid]="checkInputStatus(email)"
                          [class.border-black]="!checkInputStatus(email)" [class.border-opacity-25]="!checkInputStatus(email)"
                          class="form-control rounded-1 shadow-none border-black border-opacity-25" id="email" [(ngModel)]="userDetails.email"
                          name="email" placeholder="email" #email="ngModel" required email>
                        <label class="text-secondary placeholder-font" for="floatingInput">Email Address</label>
                      </div>

                      @if (email.hasError('required') && (email.touched || email.dirty)) {
                      <div class="position-absolute ms-5 small text-danger" style="bottom: -10px;">
                        Email is required
                      </div>
                      }@else if(email.hasError('email') && (email.touched || email.dirty)){
                        <div class="position-absolute ms-5 small text-danger" style="bottom: -10px;">
                          Enter valid email
                        </div>
                      }

                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2 position-relative">
                      <i class="bi icon-custom me-3 bi-lock-fill"></i>
                      <div class="form-floating mt-3 flex-fill mb-3">
                        <input type="password" #pass="ngModel" [class.is-invalid]="checkInputStatus(pass)"
                          [class.border-black]="!checkInputStatus(pass)" [class.border-opacity-25]="!checkInputStatus(pass)" required
                          minlength="2" class="form-control rounded-1 shadow-none " [(ngModel)]="userDetails.password" name="password" id="password"
                          placeholder="password">
                        <label class="text-secondary placeholder-font" for="floatingInput">Password</label>
                      </div>
                      
                      @if(pass.hasError('required') && (pass.touched || pass.dirty)){
                      <div class="position-absolute ms-5 small text-danger" style="bottom: -10px;">
                        Password is required
                      </div>
                      }@else if(pass.hasError('minlength') && (pass.touched || pass.dirty)){
                      <div class="position-absolute ms-5 small text-danger" style="bottom: -10px;">
                        Password must be at least 2 characters
                      </div>
                      }

                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-3 position-relative">
                        <i class="bi icon-custom me-3 bi-key-fill"></i>
                        <div class="form-floating mt-3 flex-fill mb-3 my-class">
                            <input type="password" required [class.is-invalid]="checkInputStatus(confPass) || (confPass.control.value != pass.control.value && (confPass.dirty || confPass.touched))"
                              [class.border-black]="!checkInputStatus(confPass) && (confirmPassword == userDetails.password && !(confPass.dirty || confPass.touched))"
                              [class.border-opacity-25]="!checkInputStatus(confPass) && (confirmPassword == userDetails.password && !(confPass.dirty || confPass.touched))" #confPass='ngModel'
                              class="form-control rounded-1 shadow-none" id="repassword" [(ngModel)]="confirmPassword" name="confirmPassword"
                              placeholder="confirm password">
                            <label class="text-secondary placeholder-font" for="floatingInput">Confirm Password</label>
                        </div>
                        @if(confPass.hasError('required') && (confPass.touched || confPass.dirty)){
                          <div class="position-absolute ms-5 small text-danger" style="bottom: -10px;">
                            Confirm Password is required
                          </div>
                        }@else if(confirmPassword != userDetails.password && (confPass.touched || confPass.dirty)){
                          <div class="position-absolute ms-5 small text-danger" style="bottom: -10px;">
                            Password and Confirm Password don't match
                          </div>
                          }
                    </div>

                    
  
                    <div class="form-check d-flex justify-content-end mb-4 mb-lg-5">
                      <input class="form-check-input me-2 border-black border-opacity-50" [(ngModel)]="agree" name="agree" type="checkbox" value="" id="serviceTerms" />
                      <label class="form-check-label" for="form2Example3">
                        I agree to all conditions in <a href="#!">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-4">
                      <button  type="submit" [disabled]="!(agree && form.valid && (confPass.control.value == pass.control.value))"  class="btn btn-custom btn-lg rounded-1">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class=" d-none col-5 col-lg-6 d-md-flex justify-content-center align-items-center bg-color-home border-md-start border-2">
  
                  <img src="images/signup_cat.gif"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>