<div>

    <app-jumbotron title="It's time to amplify your career!" buttonType="Signup" description="Elevate learning with our cutting-edge platform. Intuitive design, interactive tools, and expert guidance converge for a seamless education experience. Track progress, connect with peers, and unlock limitless growth potential." >
        <div class="col-5">
            <img class="img-fluid jumbo-bg d-none d-xl-block" src="images/jumbo_bg2_nobg_crop_upscaled.png" alt="cat studying">
            <img class="img-fluid jumbo-bg d-none d-lg-block d-xl-none" src="images/jumbo_bg2_nobg.png" alt="cat studying">
        </div>
    </app-jumbotron>
    <app-benefit-cards/>
    <app-explore/>
    <app-testomonials url = "http://localhost:8080/review/get"/>
    <app-achievements/>

</div>