<div>
    <div class="text-center">
        <p class="fs-3 fw-bold m-0 mt-2">Edit Profile</p>
        <p class="m-0 p-0">Add information about you</p>
    </div>
    <hr>
    <div class="col-7 m-auto py-5">
        <form (ngSubmit)="updateUser()" #form="ngForm" class="d-flex align-items-start flex-column gap-4">
            <div class="d-flex gap-4 w-100">
                <div class="form-floating mb-3 w-100 position-relative text-secondary">
                    <input autocomplete="off" type="email" class="form-control shadow-none rounded-1 custom-form" [class.is-invalid]="checkInputStatus(fName)" id="floatingInput" [(ngModel)]="firstName" name="firstName"
                        placeholder="" #fName="ngModel" required>
                    <label for="floatingInput ">First Name</label>
                    @if (fName.hasError('required') && (fName.touched || fName.dirty)) {
                    <div class="position-absolute ms-1 mt-1 small text-danger">
                        First Name is required
                    </div>
                    }
                </div>
                <div class="form-floating mb-3 w-100 position-relative text-secondary">
                    <input autocomplete="off" type="email" class="form-control shadow-none rounded-1 custom-form" [class.is-invalid]="checkInputStatus(lName)"
                        [(ngModel)]="lastName" id="floatingInput" name="lastName" placeholder="" #lName="ngModel" required>
                    <label for="floatingInput  ">Last Name</label>
                    @if (lName.hasError('required') && (lName.touched || lName.dirty)) {
                    <div class="position-absolute ms-1 mt-1 small text-danger">
                        Last Name is required
                    </div>
                    }
                </div>
            </div>
            <div class="form-floating mb-3 w-100 text-secondary">
                <input autocomplete="off" type="email" class="form-control shadow-none rounded-1 custom-form" [class.is-invalid]="checkInputStatus(mail)" [(ngModel)]="email" name="email" id="floatingInput" placeholder="" #mail="ngModel" required email>
                <label for="floatingInput">Email</label>
                @if (mail.hasError('required') && (mail.touched || mail.dirty)) {
                <div class="position-absolute ms-1 mt-1 small text-danger">
                    Email is required
                </div>
                }@else if(mail.hasError('email') && (mail.touched || mail.dirty)){
                <div class="position-absolute ms-1 mt-1 small text-danger">
                    Enter valid email
                </div>
                }@else if(!checkEmailStatus()){
                    <div class="position-absolute ms-1 mt-1 small text-danger">
                        You will be logged out on Email change
                    </div>
                }
              </div>
            <button class="btn btn-custom btn-lg" [disabled]="(form.invalid || !form.dirty) && checkEmailStatus()" type="submit">Save</button>
        </form>
    </div>
    <app-toast></app-toast>
</div>
