<div class="d-flex flex-lg-row flex-column-reverse m-5 align-items-center">

    <div class="card col-10 col-lg-7 mt-5 mt-lg-0" style="border: none;">
        <div class="">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>



    <div class="col-10 col-lg-5 ms-lg-2 ms-5 d-flex flex-wrap ">
        <div class="col-6  d-block text-center">
            <img class="rounded-2" src="images/working.jpg" style="width: 70%;" alt="...">
        </div>

        <div class="col-6 ps-3 align-self-center">
            <img class="rounded-4" src="images/working4.png" style="width: 50%;" alt="...">
        </div>

        <div class="col-6 text-center align-self-center">
            <img class="rounded-4" src="images/working2.jpg" style="width: 50%;" alt="...">
        </div>

        <div class="col-6 ">
            <img class="rounded-2" src="images/working3.jpg" style="width: 70%;" alt="...">
        </div>
    </div>
</div>