.btn-custom{
    background-color: #147a55;
    color: white;
}

.btn-custom:hover{
    background-color: #0d6343;
    color: white;
}

.small-txt{
    font-size: 13px;
}

.green-txt{
    color: #0d6343;
}

.bg-color-home{
    background-color: #FFFBE8;
}